<!DOCTYPE html>
<html>
<head>
<title>Project Monitor</title>
<script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">

<div class="p-8">

<h1 class="text-3xl font-bold mb-6">
Admin Project Monitoring
</h1>

<table class="w-full bg-white shadow rounded">

<tr class="bg-blue-500 text-white">

<th class="p-3">Freelancer</th>
<th class="p-3">Project</th>
<th class="p-3">Progress</th>
<th class="p-3">Completed</th>
<th class="p-3">Remaining</th>

</tr>

{% for u in updates %}

<tr class="border-b">

<td class="p-3">{{ u.username }}</td>
<td class="p-3">{{ u.project_name }}</td>
<td class="p-3">{{ u.progress }}%</td>
<td class="p-3">{{ u.completed_tasks }}</td>
<td class="p-3">{{ u.remaining_work }}</td>

</tr>

{% endfor %}

</table>

</div>

</body>
</html>
